body,
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333333;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
}


.form_group {
    margin: 30px 0;
}

.form_group>* {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333333;
    font-size: 1rem;
}

.form_group label {
    color: #888888;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form_group input {
    border: 2px solid #eaeaef;
    border-radius: 2px;
    text-indent: 20px;
    width: 100%;
    margin: 7px 0;
    padding: 15px 0;
}

.form_group input::placeholder {
    color: #888888;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.form_group textarea {
    border: 2px solid #eaeaef;
    border-radius: 2px;
    width: 100%;
    margin: 7px 0;
    padding: 15px 0;
    resize: none;
}

.form_group input[type="number"]:active .form_group input[type="number"]:focus {
    border-color: #2977f5;
}

.form_group:last-child {
    display: flex;
    justify-content: center;
}

button[type="submit"] {
    background: #2977f5;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    padding: 15px 20px;
}

button[type="submit"]:active,
button[type="submit"]:focus {
    outline: none;
}